.ToolBar {
    display: flex;
    flex-flow: column wrap;
    align-items: center !important;
    justify-content: center !important;
    overflow: hidden;
    width: 70px;
}

.ToolBar > * {
    margin: 0px 0;
}