div.CalculatorBox {
    position: fixed;
    margin: 20px;
    padding: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
    height: 500px;
    width: 500px;
}

div.CalculatorInputField {
    position: relative;
    margin: auto;
    width: 480px;
    border: 2px solid lightskyblue;
    border-radius: 4px;
}

/*
input {
    border: none;
}
*/
input.DefaultField {
    width: 98%;
    height: 40px;
    font-size: 20px;
    padding: 4px;
    margin: auto;
}

span.ExponentField {
    position: relative;
}

input.ExponentBase, span.ExponentBase {
    width: 98%;
    height: 40px;
    font-size: 20px;
    padding: 4px;
    text-align: center;
}

input.ExponentPower, span.ExponentPower {
    position: relative;
    font-size:20px;
    padding: 4px;
    top: -9px;
    text-align: center;
}