div.CalculatorBox {
    position: fixed;
    margin: 20px;
    padding: 8px;
    border: 2px solid black;
    height: 500px;
    width: 410px;

}

div.CalculatorInputField {
    position: relative;
    margin: 8px;
    width: auto;
    border: 2px solid lightskyblue;
    border-radius: 4px;
}

/*
input {
    border: none;
}
*/
input.DefaultField, span.DefaultField, input.FixedField, span.FixedField {
    width: 98%;
    height: 40px;
    font-size: 20px;
    padding: 4px;
    margin: auto;
}

span.InputContainer {
    position: relative;
}

input.SuperScript, span.SuperScript {
    position: relative;
    font-size: 12px;
    padding: 4px;
    top: -16px;
    text-align: center;
}

input.SubScript, span.SubScript {
    position: relative;
    font-size: 12px;
    padding: 4px;
    bottom: -16px;
    text-align: center;
}

.CalculatorButtonIcon {
    font-size: 40px;
}