.UserMenu {
    max-width: 400px;
    position: fixed;
    right: 5px;
    top: 65px;
}

.icon {
    position: fixed;
    right: 5px;
}

.DrawerHeader {
    position: absolute;
    right: 0px;
}

.NavBar {
    padding: 0px;
}

.NavBarButton{
    margin: 12px;
}

.NavBarButton[disabled]{
    color: #2C5B73 !important;
    border-color: #7CC3C6 !important;
    background-color: #7CC3C6 !important;
}


div#sidebar {
    height: 100vh;
    display:flex;
    justify-content: center;
}

div#drawer-toggle {
    width: 100%;
    display:flex;
    justify-content: flex-end;
    margin-top: 6px;
}