:root {
    --appBarHeight: 65px;
}

.AppBar {
    height: var(--appBarHeight) !important;
}

.UserMenu {
    max-width: 400px;
    position: fixed;
    right: 5px;
    top: var(--appBarHeight);
}

.DrawerHeader {
    position: absolute;
    right: 0px;
    padding: 12px 20px;
}

.Toolbar {
    padding-left: 10px;
}

.ToolbarDrawer > div{
    align-items: center;
    justify-content: center;
}

.NotificationsDrawer {
    transition: width ease-in-out 0.5s;
}

.NotificationsDrawer > div {
    top: var(--appBarHeight);
    height: calc(100vh - var(--appBarHeight));
}

.NotificationSideBar {
    overflow: hidden;
}

.shift {
    margin-left: 40px;
}

.SideBar {
    visibility: inherit;
}

.NavBarButton{
    text-shadow: black 2px 2px 3px !important;
}
.NavBarButton[disabled]{
    color: white !important;
    text-shadow: rgb(46, 44, 156) 2px 2px 3px !important;
}