.UserMenu {
    max-width: 400px;
    position: fixed;
    right: 5px;
    top: 65px;
}

.DrawerHeader {
    position: absolute;
    right: 0px;
    padding: 12px 20px;
}

.shift {
    margin-left: 40px;
}

.SideBar {
    margin-top: 40px;
    visibility: inherit;
}

.NavBarButton{
    text-shadow: black 2px 2px 3px !important;
}
.NavBarButton[disabled]{
    color: white !important;
    text-shadow: rgb(46, 44, 156) 2px 2px 3px !important;
}