.ToolBar {
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start !important;
    justify-content: center !important;
    overflow: hidden;
    width: max-content;
    max-width: 280px;
}

.ToolBar > * {
    margin: 0px 0;
    padding: 6px;
}
