.StudyTimer {
    height: 460px;
    width: 420px;
    position: fixed;
    left: 70px;
    z-index: 1800;
}

#studytimer-handle{
    width: 100%;
    height: 2rem;
    align-self: center;
}

div.choose-mode * {
    font-family: 'Bahnschrift' !important;
    font-size: 18px;
}