.StudyTimer {
    max-width: 300px;
    width: 100vw;
    position: fixed;
    left: 70px;
    background-color: rgb(255, 255, 255);
}

.StudyTimerIcon {
    display: flex;
    flex-direction: column;
    align-items: center;
}
