div.LinearAlgebraBox {
    position: fixed;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;
    left: 70px;
    background-color: white;
    height: 500px;
    width: 460px;
}

#console {
    height: 100px;
    width: 400px;
}