.FactorMultiple {
    position: fixed;
    left: 70px;
    top: 300px;
    padding: 0.7rem;
    background-color: white;
    max-width: 400px;
    display: flex;
    flex-flow: column wrap;
    align-items: stretch;
    z-index: 1800;
}

.multipleTitle > * {
    margin-right: 10px !important;
}

.FactorMultiple * {
    font-weight: 600 !important;
}

.FactorMultiple button {
    margin-bottom: 1rem !important;
}

#factorMultipleHandle{
    width: 100%;
    height: 2rem;
    align-self: center;
}